dwl
*.o
*-protocol.c
*-protocol.h
.ccls-cache
.cache/clangd/index
.github/ISSUE_TEMPLATE
compile_commands.json
.vscode
bar/.builds
bar/.cache/clangd/index
bar/gmon.out
gmon.out
debug.log
qdb/.cache/clangd/index
qdb/build
